body {
  background: linear-gradient(
    68.6deg,
    rgb(252, 165, 241) 1.8%,
    rgb(181, 255, 255) 100.5%
  );
}
.container {
  margin: 40px 40px;
  margin-bottom: 10px;
  max-width: 600px;
}
h2,
h3 {
  line-height: 1;
  color: grey;
  text-align: left;
  margin-left: 25px;
}
.city {
  padding-top: 8px;
  text-align: center;
}
.city:hover {
  cursor: pointer;
}
.weather-1 {
  font-size: 70px;
  color: #42a5f5;
}
.temp-now {
  font-size: 70px;
  color: black;
}
.units {
  position: relative;
  font-size: 15px;
  top: -16px;
  left: -15px;
}
#cel,
#far {
  text-decoration: none;
  color: black;
  font-weight: 450;
}

#main-city {
  font-size: 18px;
}
#date {
  font-size: 16px;
}
.info {
  line-height: 1.35;
  padding-top: 36px;
  margin-left: 20px;
}
ul,
li {
  text-align: left;
  font-size: 15px;
  list-style: none;
}
tr,
td {
  max-width: 70%;
  padding: 10px;
  text-align: center;
}
button {
  margin-left: 10px;
}
.card {
  text-align: center;
  opacity: 0.9;
  margin-bottom: 20px;
  margin-top: 30px;
}

.row-cols-1 {
  margin-top: -30px;
  margin-left: 20px;
  margin-right: 20px;
}
.min-temp {
  padding-right: 2px;
  padding-left: 2px;
  display: inline;
  line-height: 2;
  font-size: 15px;
  text-align: left;
}

.card-temp {
  margin-top: 10px;
  line-height: 0.02;
  font-size: 12px;
}
table {
  margin-top: -15px;
  margin-right: 70px;
}
#top-cities {
  max-width: 430px;
  margin-left: -20px;
  font-size: 14px;
}
.git-link {
  font-weight: bolder;
}

#icon {
  height: 100px;
  width: 100px;
  margin-top: 10px;
}
.forecast-icon {
  opacity: 0.8;
  height: 50px;
  width: 50px;
  text-align: center;
}
.my-app-link {
  text-align: left;
  margin: 0px 50px;
}
#description::first-letter {
  text-transform: capitalize;card
}
h5 {
  opacity: 0.8;
  margin-top: 5px;
}
#forecast {
  padding-left: 15px;
  margin-bottom: 15px;
}
.max-temp {
  font-weight: bolder;
  opacity: 0.8;
  padding-right: 2px;
  padding-left: 2px;
}